<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../app.css">
    <link rel="stylesheet" href="login.css">
    <title>Inicio de sesión</title>
</head>

<body>


    <form class="main">
        <div class="title-and-slogan">
            <h1>
                RapiPedidos
            </h1>
            <p>
                Sistema de gestión de pedidos
            </p>
        </div>
        <div class="form-box">
            <h1>Inicio de sesión</h1>
            <p>Ingrese sus credenciales para acceder al panel administrativo.</p>
            <div class="input-field">
                <p>CORREO ELECTRÓNICO</p>
                <input type="email" placeholder="email@ejemplo.com" required>
            </div>
            <div class="input-field">
                <p>CONTRASEÑA</p>
                <input type="password" placeholder="*******" required>
            </div>
            <button class="btn-submit">
                Iniciar sesión
            </button>
            <p>
                No tiene una cuenta administrativa? <a href="../../index.html">Crear cuenta</a>
            </p>
    </form>
</body>
<script src="login.js"></script>

</html>