<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Historial de clientes</title>
    <link rel="stylesheet" href="historial.css">
    <link rel="stylesheet" href="../../app.css">
</head>

<body>
    <nav class="navbar">
        <h1>RapiPedidos</h1>
        <button class="nav-btn btn-exit">Cerrar Sesión</button>
    </nav>
      <div class="filters">
    <div class="search-wrap">
      <i class="ti ti-search"></i>
      <input type="text" id="searchInput" placeholder="Buscar pedidos por cliente..." oninput="renderTable()">
    </div>
    <select class="filter-select" id="filterEstado" onchange="renderTable()">
      <option value="">Estado</option>
      <option>Pendiente</option>
      <option>En proceso</option>
      <option>Entregado</option>
    </select>
    <input type="date" class="filter-date" id="filterFecha" onchange="renderTable()">
    <button class="btn-filter" onclick="clearFilters()">Limpiar</button>
    <button class="btn-new" onclick="location.href='../pedidos/pedidos.html'"><i class="ti ti-plus"></i> Nuevo Pedido</button>
  </div>
 
  <div class="table-wrap">
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Cliente</th>
          <th>Cant. Productos</th>
          <th>Total</th>
          <th>Fecha y Hora</th>
          <th>Estado</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody id="tableBody"></tbody>
    </table>
    <div class="pagination">
      <span id="paginationInfo"></span>
      <div class="pages" id="paginationBtns"></div>
    </div>
  </div>
</div>
 
    Historial Works!
</body>
<script src="historial.js"></script>

</html>